@import "~bootstrap/scss/bootstrap.scss";

$blue : #09c;

body {
  color:white;
  background: #000;
  background-image: url(../img/common/sample.jpg);
}
.hello {
  color: red;
}
div#hoge {
  width: 400px;
  background:#333;
  color:#ff0;

  a {
    color: $blue;
  }
}

